{% extends "base.html" %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <h1>{{name}}</h1>
                        {% for item in object_list %}
                            <div class="post-preview">
                                <a href="{% url 'blog:post'  id=item.id %}">
                                    <h2 class="post-title">Вакансия {{item.name}}, регион {{item.areal}}</h2>
                                    <h3 class="post-subtitle">{{item.description}}</h3>
                                </a>
                                <p class="post-meta">
                                    Posted by
                                    <a href="#!">Start Bootstrap</a>
                                    on September 24, 2023
                                    {% if item.has_image %}
                                        Есть картинка
                                        {% else%}
                                        Нет картинки
                                    {% endif %}
                                        {{item.has_image}}
                                        {{item.some_method}}
                                </p>
                            </div>

                        {% endfor %}

                    <!-- Pager-->
                </div>
            <div class="clearfix">
                <div class="pagination">

                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ object_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}">next</a>
                        <a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}

                </span>
                </div>
            </div>

        </div>


{% endblock %}