{% extends "base.html" %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    Количество вакансий на странице: {{vacancies|length}}
                    <!-- Post preview-->
                   <h1>{{ header }} {{ page_obj.number }}</h1>

                        {% for item in vacancies %}
                            <div class="post-preview">
                                <a href="{% url 'blog:post'  id=item.id %}">
                                    <h2 class="post-title">Вакансия {{item.name}}, регион {{item.areal}}</h2>
                                    <h3 class="post-subtitle">Автор поста {{item.user.username}}</h3>
                                    <h3 class="post-subtitle">{{item.description}}</h3>
                                </a>
                                <p class="post-meta">
                                    Posted by
                                    <a href="#!">Start Bootstrap</a>
                                    on September 24, 2023
                                    {% if item.has_image %}
                                        Есть картинка
                                        {% else%}
                                        Нет картинки
                                    {% endif %}
                                        {{item.has_image}}
                                        {{item.some_method}}
                                </p>
                            </div>

                        {% endfor %}

                    <!-- Pager-->
                </div>
            <div class="clearfix">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; первая |</a>
                            <a href="?page={{ page_obj.previous_page_number }}">предыдущая |</a>
                        {% endif %}

                        <span class="current">
                            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">| следующая</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">| последняя &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>

        </div>


{% endblock %}