{% extends "base.html" %}

{% block title %}
Список скиллов
{% endblock %}

{% block content %}
<h1>{{name}}Ы</h1>
<ul>
    {% for item in object_list %}
    <li>
        <a href="{% url 'blog:skill_detail' pk=item.pk %}">{{item.name}}</a>
        </a><font size="2" face="Arial">
        /
        <a href="{% url 'blog:skill_update' pk=item.pk %}">Изменить</a>
        /
        <a href="{% url 'blog:skill_delete' pk=item.pk %}">Удалить</a></font>
    </li>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая |</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущая |</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">| следующая</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">| последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    <a href="{% url 'blog:skill_create' %}"><font size="2" face="Arial">Создать</font></a>
</ul>
{% endblock %}