<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Заполнение формы</title>
<!--        <link rel="stylesheet" href="/static/main.css" type="text/css">-->
    </head>
    <body bgcolor="#CCCCCC" text="#000000">



    <table valign="top" width="100%">
    <tr><td valign="top" align="left"></td>
        <td valign="top" width=150px align="left"><a href="/index">Главная страница</a></td>
        <td valign="top" width=85px align="left"><a href="/contacts">Контакты</a></td>
        <td valign="top" width=115px align="left"><a href="/form">Выбор поиска</a></td>
        <td valign="top" width=100px align="left"><a href="/result">Результаты</a></td></tr>
    </table>
    <br><hr>
    <form method="post">
        <label for="station">Выберите вид поиска: </label>
            <select type="text" name="text">
                <option value="1">Новости</option>
                <option value="2">Ссылки</option>
            </select>
        <button type="submit">Send</button>
    </form>

    </body>
</html>