<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Парсер</title>
<!--        <link rel="stylesheet" href="/static/main.css" type="text/css">-->
    </head>
    <body bgcolor="#CCCCCC" text="#000000">

    <table valign="top" width="100%">
    <tr><td valign="top" align="left"></td>
        <td valign="top" width=150px align="left"><a href="/index">Главная страница</a></td>
        <td valign="top" width=85px align="left"><a href="/contacts">Контакты</a></td>
        <td valign="top" width=115px align="left"><a href="/form">Выбор поиска</a></td>
        <td valign="top" width=100px align="left"><a href="/result">Результаты</a></td></tr>
    </table>
    <br><hr>
        <h1>Проверка новостей и ссылок на главной странице сайта garant-don.ru</h1>
        <p>Заполните <a href="/form">форму</a> и в <a href="/result">результатах</a> получите список новостей на главной странице сайта garant-don.ru и их количество или список ссылок и их количество</p>
    </body>
</html>